<!DOCTYPE html>
<html lang="pt-BR">
	<head>
		<title>SI1 - LAB 2</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.9/angular.js"></script>
		<script src="js/app.js"></script>
	</head>
	
	<body ng-app="todoList">
		<div class="container" ng-controller="TasksController as tcontroller">
			
			<div class="page-header">
				<h1>To-do List</h1>
			</div> <!-- Close page-header -->
			
			<form>
				<div class="form-group">
					<label for="inputTask">Qual tarefa deseja adicionar?</label>
					<input type="text" class="form-control" ng-model="newTask" placeholder="Tarefa" />
				</div> <!-- Close form-group add tsk -->
				<button type="submit" class="btn btn-default" ng-click="tcontroller.add(newTask)">Adicionar</button>
				<button type="reset" class="btn btn-danger" ng-click="tcontroller.clear()">Limpar lista</button>
			</form>
			
			<div class="container">
				<h2>Tarefas:</h2>
				
				<div class="progress">
					<div class="progress-bar" aria-valuemin="0" aria-valuemax="100" style="width:{{tcontroller.actualPercent}}%">
						{{tcontroller.actualPercent}}%
					</div> <!-- Close progress-bar -->
				</div> <!-- Close progress -->
				
				<div class="list-group" ng-repeat="task in tcontroller.tasksArray">
					<label class="checkbox input-lg list-group-item"><input type="checkbox" ng-model="task.done" ng-change="tcontroller.calculatePercent()"/>{{task.name}}</label>
					<!--li class="list-group-item" ng-repeat="task in tcontroller.tasksArray">
						<label class="checkbox input-lg"><input type="checkbox" />{{task}}</label>
					</li-->
				</div>
			</div>
			
			
		</div> <!-- Close container -->
	</body>
	
</html>