<!DOCTYPE html>
<html lang="pt-BR">
	<head>
		<title>SI1 - LAB 2</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
		<link rel="stylesheet" href="css/style.css" />
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.9/angular.js"></script>
		<script src="js/app.js"></script>
	</head>
	
	<body ng-app="todoList">
		<header>
			To-do List
		</header>
		
		<div class="container" ng-controller="TasksController as tcontroller">
			
			<form>
				<div class="form-group">
					<label for="inputTask">Digite uma tarefa que queira adicionar</label>
					<input id="inputTask" type="text" class="form-control" ng-model="newTask" placeholder="Tarefa" />
				</div> <!-- Close form-group add tsk -->
				<button type="submit" class="btn btn-primary" ng-click="tcontroller.add(newTask);" onclick="document.getElementById('inputTask').value=''" >Adicionar</button>
				<button type="reset" class="btn btn-danger" data-toggle="modal" data-target="#clearConfirm">Limpar lista</button>
				
				<!-- Modal -->
				<div class="modal fade" id="clearConfirm">
					<div class="modal-dialog">
						<div class="modal-content">
							
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">&times;</button>
								<h4 class="modal-title">Limpar</h4>
							</div> <!-- Close modal header -->
							
							<div class="modal-body">
								<p>Deseja limpar a lista de tarefas?</p>
								<div class="alert alert-danger">
									<strong>Cuidado!</strong> Essa ação não pode ser desfeita!
								</div> <!-- Close alert -->
							</div> <!-- Close modal body -->
							
							<div class="modal-footer">
								<button type="reset" class="btn btn-danger" ng-click="tcontroller.clear()" data-dismiss="modal">Limpar lista</button>
								<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
							</div> <!-- Close modal footer -->
							
						</div> <!-- Close modal content -->
					</div> <!-- Close modal dialog -->
				</div> <!-- Close modal -->
				
			</form>
			
			<h2>Tarefas:</h2>
			<dl class="dl-horizontal">
				<dt class="dt"><h4>Feitas: {{tcontroller.actualTasksDone}}</h4></dt>
				<dd class="dt"><h4>Não feitas: {{tcontroller.actualTasksNotDone}}</h4></dt>
			</dl>
			
			<div class="progress">
				<div class="progress-bar progress-bar-striped" aria-valuemin="0" aria-valuemax="100" style="width:{{tcontroller.actualPercent}}%">
					{{tcontroller.actualPercent}}%
				</div> <!-- Close progress-bar -->
			</div> <!-- Close progress -->
			
			<div class="table-responsive">
				<table class="table table-hover table-responsive">
					<tbody>
						<tr class="panel" ng-repeat="task in tcontroller.tasksArray">
							<td>
								<input id="task{{$index}}" type="checkbox" ng-model="task.done" ng-change="tcontroller.calculateDones()"/>
							</td>
							<td>
								<label ng-class="{ 'checked' : task.done}" for="task{{$index}}">{{task.name}}</label>
							</td>
							<td>
								<button type="button" class="close" ng-click="tcontroller.remove(task)" id="removeTaskButton">&times;</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
				
			
		</div> <!-- Close container -->
	</body>
	
</html>